.main-header {
  display: flex;
  grid-area: main-header;
  padding: 25px;
  background-color: #283941;
}

.main-header-logo {
  flex-grow: 0;
  height: 100px;
  padding-right: 25px;
  min-width: 0;
  max-width: 100px;
}

.main-header-title {
  flex-grow: 1;
  height: 60px;
  min-width: 0;
  padding: 20px 25px;
}

.main-header-date-time-container {
  flex-grow: 0;
}

.main-header-date-time {
  height: 100px;
  max-width: 175px;
  padding-left: 25px;
  text-align: right;
}

.main-panel {
  grid-area: main-panel;
  padding: 10px;
  background-color: #eff3f5;
  overflow: scroll;
}

.pi-card {
  display: inline-block;
  margin: 10px;
  height: 175px;
  width: 150px;
  border-radius: 10px;
  background-color: black;
  color: #07090A;
  border: 2px solid #283941;
  overflow: hidden;
}

.pi-card-image-container {
  display: block;
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.pi-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pi-card-info {
  display: table;
  width: 100%;
  height: 35%;
  padding: 7px 0;
  text-align: center;
}

.pi-card-status-content {
  font-size: 14px;
}

.main-panel-headline {
  grid-area: headline;
  background-color: #283941;
  color: white;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: bolder;
}

.main-panel-headline-table {
  height: 100%;
  width: 100%;
  padding: 0px 25px;
  table-layout: fixed;
}

.main-panel-scrolling-headline {
  grid-area: news-ticker;
}

#headline {
  vertical-align: bottom;
}

#headline span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .main-panel-left {
    border-right: 1px solid #11171C;
  }
}

@media screen and (max-width: 768px) {
  .main-header-logo {
    width: 25%;
  }

  .main-header-title {
    width: 75%;
  }

  .main-header-date-time-container {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-header-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-panel-headline {
    font-size: 28px;
  }
}
