html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
}

.main-header {
  display: flex;
  grid-area: main-header;
  padding: 25px;
  background-color: #283941;
  color: #D0D4D8;
}

.main-header-logo {
  flex-grow: 0;
  height: 100px;
  padding-right: 25px;
  min-width: 0;
  max-width: 100px;
}

.main-header-title {
  flex-grow: 1;
  height: 60px;
  min-width: 0;
  padding: 20px 25px;
}

.main-header-date-time-container {
  flex-grow: 0;
}

.main-header-date-time {
  height: 100px;
  max-width: 160px;
  padding-left: 25px;
  text-align: right;
}

.main-panel {
  display: flex;
  grid-area: main-panel;
  background-color: pink;
}

.main-panel-headline {
  grid-area: headline;
  background-color: green;
}

.main-panel-headline-table {
  height: 100%;
  width: 100%;
  padding: 0px 25px;
}

.main-panel-loading-bar {
  grid-area: loading-bar;
  background-color: blue;
}

.main-panel-scrolling-headline {
  grid-area: news-ticker;
  background-color: #33393F;
  color: #D0D4D8;
}

.queue-header {
  grid-area: queue-headline;
  background-color: blue;
}

.queue-header-table {
  height: 100%;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
}

.queue-info {
  grid-area: queue-info;
  background-color: violet;
  padding: 0px 15px;
}

.queue-info-table {
  height: 100%;
  width: 100%;
}

.queue-panel {
  display: flex;
  grid-area: queue-panel;
  background-color: cyan;
}

@media screen and (min-width: 769px) {
  .container {
    height: 100%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 150px 30px auto 100px 15px 30px;
    grid-template-areas:
      "main-header queue-headline"
      "main-panel queue-info"
      "main-panel queue-panel"
      "headline queue-panel"
      "loading-bar queue-panel"
      "news-ticker queue-panel";
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 150px calc(100% - 295px) 100px 15px 30px 150px 30px calc(100% - 180px);
    grid-template-areas:
      "main-header"
      "main-panel"
      "headline"
      "loading-bar"
      "news-ticker"
      "queue-headline"
      "queue-info"
      "queue-panel";
  }

  .main-header-logo {
    width: 25%;
  }

  .main-header-title {
    width: 75%;
  }

  .main-header-date-time-container {
    display: none;
  }
}

@media screen and (max-width: 480px) {

    .main-header-logo {
      display: none;
    }
}
